<fieldset>
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <div class="block block-color info">
                    <div class="header">
                        <h3><strong>Campos do arquivo</strong></h3>
                    </div>
                    <div class="content">
                        <p class="text-justify">
                            <strong>
                                Cada linha enviado no arquivo txt, corresponde ao cadastro de voto para um candidato.<br />
                                Formatação da linha
                            </strong>
                        </p>

                        <p class="text-justify">


                            <br /><strong>Identificador Candidato; Votos Validos; Votos Nulos; Votos Brancos </strong>
                            <br /><em>Ex:</em>
                            <strong> 1;5692;412;156</strong>
                            <br /><em>No exemplo acima, estamos enviando o Identificador Candidato; Votos Validos; Votos Nulos; Votos Brancos</em>
                            <br /><em>Devem ser enviados juntos, separado por ponto e vírgula</em>
                            <br /><em>OBS: Devem ser enviado identificador valido, caso for enviado algum identificador que não está na base, arquivo não será importado</em>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>